---
import type { User } from "@/db/schema/user.schema";
import { useTranslations } from "@/i18n/utils";
import { getLangFromUrl } from "@/i18n/utils";
import Link from "@/components/Link/index.astro";
const lang = getLangFromUrl(Astro.url);
const {
    users: { card: tUsersCard },
} = useTranslations(lang);

interface Props extends User {}

const { name, email, age, id, slug } = Astro.props;
---

<article
    class="bg-white p-4 rounded-md shadow-md hover:shadow-lg transition-all duration-300 transform hover:scale-105 dark:bg-gray-800 dark:text-white relative"
>
    <h1 class="text-2xl font-bold" transition:name={`title-${id}`}>
        {name}
    </h1>
    <p class="text-gray-500 dark:text-gray-400" transition:name={`email-${id}`}>
        <span class="font-bold">{tUsersCard.email}:</span>
        {email}
    </p>
    <p class="text-gray-500 dark:text-gray-400" transition:name={`age-${id}`}>
        <span class="font-bold">{tUsersCard.age}:</span>
        {age}
    </p>
    <Link
        href={`/users/${slug}`}
        class="after:content-[''] after:absolute after:inset-0"
    >
        <span class="sr-only">{tUsersCard.goToProfile} {name}</span>
    </Link>
</article>
