---
import type { User } from "@/db/schema/user.schema";

interface Props extends User {}

const { name, email, age, id } = Astro.props;
---

<section class="flex flex-col gap-2 items-center h-screen justify-center">
    <h1
        class="text-2xl font-bold text-gray-800 dark:text-gray-200 mt-4"
        transition:name={`title-${id}`}
    >
        {name}
    </h1>
    <p class="text-gray-500 dark:text-gray-400" transition:name={`email-${id}`}>
        <span class="font-bold">Email:</span>
        {email}
    </p>
    <p class="text-gray-500 dark:text-gray-400" transition:name={`age-${id}`}>
        <span class="font-bold">Age:</span>
        {age}
    </p>
</section>
